html {
  background-color: #FFDAB9;
}

#menuDiv   {
    right: auto;
    padding:  0 20px 0 0;
    border-radius: 0 50px 50px 0;
    box-shadow: 5px 5px 15px #aaa;
}

.datestamp  {
    margin-top: -10px;
    font-style:italic;
}

 @media (max-width: 568px) {
    #menuDiv    {
        display: none;
    }
 }

.article    {
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: #C2C2C2;
    padding-bottom: 25px;
}


 .headline  {
    padding-top: 0;
    font-family: 'Allan', Helvetica, Arial, sans-serif;
}


.article li    {
    padding: 10px;
}


a:hover {
    text-decoration: none;
}

#menuList li   {
    margin-left: 0;
    padding: 10px;
    list-style: none;
    display: inline;
}

.indent {
    margin-left: 25px;
    margin-right: 25px;
}

.blog-pic   {
    float: right;
    width: 180px;
    padding-left: 20px;
    margin-top: -15px;
}

/* Space out content a bit */
body {
    /* background: url(../img/retina_wood.png) repeat 0 0;      background image via www.subtlepatterns.com, you should definitely go there. */
    background-color: #FFDAB9;
    padding-top: 25px;
    padding-bottom: 200px;
    font-family: 'Cabin', sans-serif;
    font-size: 17px;
}

.centeredText   {
    text-align: center;
}

.social-logo li {
    display: inline;
    padding: 15px;
}

.social-logo li:hover {opacity:0.65; }

.container  {
    background-color: #FFEBD1;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #FFEFDB;
}

.jumbotron h2 {
    font-family: 'Allan', Helvetica, Arial, sans-serif;
    margin-top: -10px;
    font-size: 40px;
}
.jumbotron h1  {
    text-shadow: 4px 1px 1px #aaa;
    font-family: 'Lobster', cursive;
    font-size: 85px;
    color: #FFBF6E;
}

 h2 {
    font-family: 'Lobster', cursive;
    font-size: 38px;
}

h3  {
    font-family: 'Allan', Helvetica, Arial, sans-serif;
    font-size: 31px;
}

.social-button  {
    padding: 0px;
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #BFDBFF;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}